@import "../../styles/abstracts/mixins";

.container {
  margin: 30px 0 40px 0;
  &__heading {
    background-color: var(--heading-color);
    padding: 2px 10px;
    border: 1px solid var(--font-color);
  }

  &__cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    row-gap: 30px;
    column-gap: 40px;
  }
}
