.container {
  padding: 10px 0;
  width: 100%;
  max-width: 900px;
  // border: 1px solid red;
  margin: 0 auto;

  &__heading {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  &__btn-container {
    display: grid;
    place-items: center;

    & button {
      font-size: 20px;
      margin: 0 auto;
    }
  }
}
