*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Variables */

html {
  --background-color: #ffffff;
  --heading-color: #bac8d3;
  --font-color: #121212;
  --card-color: #dae8fc;
  --card-hover: #d5e8d4;
  --card-selected: #d5e8d4;
  --button-background: #f5f5f5;
  --button-background-gradient: #b3b3b3;
  --button-hover-background: #d5e8d4;
  --button-hover-gradient: #97d077;
}
